<h2>Definitions</h2>

<%= @word.word %>

<ul>
  <% @word.definition.each do |definition_item| %>
    <li><%= definition_item.definition %></li>
  <% end %>
</ul>

<form class="form-group" action="/definition" method="post">
  <input type="text" name="word_id" value='<%= @word.id() %>'>

  <label for="new_def">Add Definition</label>
  <input type="text" name="new_def">

  <button type="submit" class="btn btn-primary">Add Definition</button>
</form>

<a href="/">Back to Word List</a>
