
<div class="panel panel-info">
  <div class="panel-heading"><h1 class="text-center"><%= @word.word %></h1></div>

<ul class="list-group">
  <% @word.definition.each do |definition_item| %>
    <li class="list-group-item"><%= definition_item.definition %><button type="button" class="btn btn-default btn-xs pull-right">Delete</button></li>
  <% end %>
</ul>
</div>
<br/>
<form class="form-group" action="/definition" method="post">
  <input type="hidden" name="word_id" value='<%= @word.id() %>'>

  <label for="new_def">Add Definition</label>
  <input class="form-control" type="text" name="new_def">
  <br/>
  <button type="submit" class="btn btn-primary">Add Definition</button>
</form>
<br/>

<form action="/delete_word" method="post">
  <input type="hidden" name="word_id" value='<%= @word.id() %>'>
<button type="submit" class="btn btn-danger">Delete Word</button>
Warning! The word and definitions will not be retrievable one deleted.
</form>

<br/><br/>
<p><a href="/">Back to Word List</a></p>
