<h2>Words</h2>
<ul>
  <% @words.each do |word_item| %>
    <li><a href='/definition/<%= word_item.id%>'><%= word_item.word %></a></li>
  <% end %>
</ul>

<form class="form-group" action="/words" method="post">
  <label for="new_word">Add Word</label>
  <input type="text" name="new_word">

  <button type="submit" class="btn btn-primary">Add Word</button>
</form>
