<div class="row">
  <div class="col-md-6">
<div class="panel panel-info">
  <div class="panel-heading"><h1 class="text-center">Mocktionary</h1></div>
  <div class="list-group">
    <% @words.each do |word_item| %>
      <a href='/definition/<%= word_item.id%>' class="list-group-item"><span class="badge"><%= word_item.definition.length%></span><%= word_item.word %></a>
    <% end %>
  </div>
</div>
<br/>
<form class="form-inline" action="/words" method="post">
  <input class="form-control" type="text" name="new_word" placeholder="New Word">

  <button type="submit" class="btn btn-primary">Add Word</button>
</form>
</div>
</div>
